# Ignore node_modules directory
/workspaces/chemocalendar/node_modules

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables

/workspaces/chemocalendar/frontend/.env.local
/workspaces/chemocalendar/backend/.venv

.next

backend/.venv/
/workspaces/chemocalendar/frontend/.next/